@charset "UTF-8";
/* CSS Document */

.mc-container {
	position:relative;
	max-width:100%;
}
.mc-ul {
	position:relative;
	width:10000px;
	margin:0px;
	list-style:none;
	padding:0px;
}
.mc-nav-left {
	width:5%;
	float:left;
	cursor:pointer;
	opacity:0.7;
	margin:0px;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	color:white;
	padding:0px;
	
}
.mc-nav-right {
	width:5%;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
	float:left;
	margin:0px;
	padding:0px;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	
}
.mc-nav-button {
	width:25px;
	height:38px;
	background:transparent url(arrows.png) no-repeat top left;
	position:relative;
	top:50%;
	margin-top:-19px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
	margin-left:auto;
	margin-right:auto;
}
.mc-nav-right>div {
	background-position:top right;
	left:auto;
}
.mc-nav-left:hover, .mc-nav-right:hover {
	opacity:1;
}
.mc-inner {
	overflow:hidden;
	float:left;
	width:90%;
	
}
.mc-nav span:hover {
	opacity:1.0;
}
.mc-item {
	float:left;
	margin:0px;
	padding:0px;
	cursor:pointer;
	opacity:1;
	position:relative;
	-webkit-transition: opacity .35s ease-in-out;
	-moz-transition: opacity .35s ease-in-out;
	-o-transition: opacity .35s ease-in-out;
	-ms-transition: opacity .35s ease-in-out;
	line-height:0px;
}
.mc-item:hover {
	opacity:0.7;
}
.mc-item>a>img {
	width:90%;
	margin-left:5%;
	margin-right:5%;
	top:20px;
	cursor:pointer;
	positon:relative;
}

@media only screen and (max-width: 480px)
{
	.mc-nav-left, .mc-nav-right {
		width:10%;
	}
	
	.mc-inner {
		width:80%;	
	}
}